/* Estilos generales y útiles */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
  /* colores primarios */
  --blanco: #FFFFFF;
  --violeta: #8B48BF;
  --celeste-brillante: #3CDDF3;
  /* colores neutros */
  --azul-grisáceo-oscuro: #1E1E26;
  --azul-muy-oscuro: #232851;
  --variante-gris-claro: rgb (249, 249, 249);
  /* otros colores recurrentes */
  --azul-medio-oscuro: #323851;
  --gris-oscuro: #B9B9C1;
  --gris: #B3B2B7;
}
*{
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
}
button{
  outline: none;
  background-color: var(--violeta);
  border: none;
  border-radius: 50px;
  color: var(--blanco);
  cursor: pointer;
}
button:hover{
  background-color: var(--celeste-brillante);
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px;
  box-sizing: border-box;
}
.hamburguesa{
  width: 35px;
  height: 31px;
  cursor: pointer;
}

/* main */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home */
.home{
  margin: 40px;
  margin-top: 80px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  box-sizing: border-box;
}
.home img{
  width: 100%;
  object-fit: contain;
}
.frase-home{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1.875rem;
  text-align: right;
  box-sizing: border-box;
}
.frase-home h1{
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 3.582rem;
  letter-spacing: -3.5%;
  color: var(--azul-muy-oscuro);
}
.frase-home button{
  width: 134px;
  height: 44px;
  padding: 15px 40px;
  font-size: 0.825rem;
  font-weight: 500;
}

/* resumen */
.resumen{
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: var(--blanco);
  background-color: var(--celeste-brillante);
  box-sizing: border-box;
}
.resumen h4{
  margin: 0;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.575rem;
}
.resumen p{
  margin: 0;
  line-height: 1.5rem;
}

/* productos */
.productos-mobile{
  display: flex;
  flex-flow: column wrap;
  justify-content: right;
  gap: 1.875rem;
  margin: 60px 0;
  margin-left: 42px;
  box-sizing: border-box;
}
.productos-mobile .card{
  display: flex;
  flex-flow: column wrap;
  gap: 1.875rem;
}
.productos-mobile .card > p{
  padding: 10px;
  max-width: 408px;
  color: var(--gris);
  line-height: 1.595rem;
  letter-spacing: -1%;
}
.title{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.25rem;
  background-color: rgba(139, 72, 191, 0.30);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.title button{
  width: 69px;
  height: 43px;
  font-size: 1rem;
  box-sizing: border-box;
}
.title p{
  font-weight: 700;
  letter-spacing: -1.5%;
  color: var(--azul-medio-oscuro);
}

/* testimonios */
.testimonios{
  margin: 17.5px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}
.testimonios h3{
  margin-bottom: 80px;
  font-size: 2.45rem;
  color: #242E53;
  letter-spacing: -1%;
}
.testimonios .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
  text-align: center;
  background-color: #FAFAFA;
  max-width: 445px;
  padding: 70px 27.5px 40px 27.5px;
  position: relative;
  box-sizing: border-box;
}
.testimonios a{
  color: #3F4868;
  font-weight: 700;
}
.testimonios img{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 42%;
  top: -15%;
}
.testimonios p{
  color: var(--gris-oscuro);
  line-height: 1.567;
}
.testimonios button{
  cursor: pointer;
  padding: 10px;
  height: 44px;
  width: 134px;
  font-weight: 500;
  font-size: 0.875rem;
  box-sizing: border-box;
}

/* teams */
.teams{
  width: 100%;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  color: var(--blanco);
  background-color: var(--celeste-brillante);
  box-sizing: border-box;
}
.teams h2{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
.teams button{
  height: 44px;
  width: 134px;
  padding: 10px;
  background-color: var(--azul-muy-oscuro);
  box-shadow: 0px 4px 8px 0px #00000040;
  box-sizing: border-box;
}

/* footer */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  padding: 50px 0 60px 0;
  color: var(--gris);
  background-color: var(--azul-grisáceo-oscuro);
  box-sizing: border-box;
}
footer .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
footer > p {
  font-size: 0.75rem;
  color: #8C8C94;
}
.buscador{
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  width: 100%;
  padding: 10px 50px;
  box-sizing: border-box;
}
.buscador input{
  outline: none;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
}
.buscador input::placeholder{
  color: var(--gris-oscuro);
  font-weight: 500;
}
.buscador button{
  height: 42px;
  width: 63px;
  box-sizing: border-box;
}
.enlaces{
  padding: 0 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.enlaces ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  list-style: none;
  color: var(--blanco);
}
.enlaces ul a{
  text-decoration: none;
  cursor: pointer;
  color: var(--blanco);
}
.enlaces ul a:hover{
  color: var(--violeta);
}
footer .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}
.redes-sociales{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}

/* none */
.desktop, 
.productos-desktop,
.sanyo,
.navarro{
  display: none;
}

/* responsive */
@media (min-width:620px){
  /* flex y none */
  .desktop, 
  .productos-desktop,
  .sanyo,
  .navarro{
    display: flex;
  }
  .hamburguesa,
  .productos-mobile{
    display: none;
  }
  /* header */
  header{
    justify-content: space-around;
    gap: 0.938rem;
  }
  header ul{
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
    list-style: none;
  }
  header li a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
  }
  header li a:hover{
    color: var(--violeta);
  }
  header button{
    width: 134px;
    height: 44px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px 0px #00000040;
  }
  /* home */
  .home{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home img{
    max-height: 540px;
    width: auto;
  }
  .frase-home{
    max-width: 400px;
  }
  .frase-home h1{
    font-size: 2.5rem;
  }
  /* resumen */
  .resumen{
    background-color: var(--violeta);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
  .resumen h4, .resumen p{
    max-width: 450px;
  }
  .resumen h4{
    font-size: 1.875rem;
  }
  /* productos */
  .productos-desktop{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 40px;
    background-color: #FAFAFA;
  }
  .productos-desktop .card{
    max-width: 530px;
    display: flex;
    align-items: flex-start;
    gap: 0.938rem;
  }
  .productos-desktop .card h5{
    margin-top: 5px;
    margin-bottom: 18px;
    color: var(--azul-medio-oscuro);
    font-weight: 700;
    font-size: 1rem;
  }
  .productos-desktop .card .info{
    width: 100%;
  }
  .productos-desktop .card button{
    width: 69px;
    height: 43px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  /* testimonios */
  .testimonios{
    margin: 80px 30px;
  }
  /* teams */
  .teams{
    background-color: var(--violeta);
    flex-direction: row;
    justify-content: space-around;
  }
  .teams h2{
    text-align: left;
    font-size: 2.2rem;
  }
  .teams button{
    color: var(--violeta);
    background-color: var(--blanco);
  }
  /* footer */
  footer{
    align-items: flex-end;
    padding: 40px 10%;
    gap: 0;
  }
  footer .content{
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .container{
    width: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  footer .buscador{
    width: 272px;
    padding: 0;
  }
  .enlaces{
    width: 300px;
    padding: 0;
  }
  .redes-sociales{
    gap: 0.625rem;
    width: 153.8px;
    padding: 0;
  }
}