/* Estilos generales y útiles */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
  /* colores primarios */
  --blanco: #FFFFFF;
  --violeta: #8B48BF;
  --celeste-brillante: #3CDDF3;
  /* colores neutros */
  --azul-grisáceo-oscuro: #1E1E26;
  --azul-muy-oscuro: #232851;
  --variante-gris-claro: rgb (249, 249, 249);
}
body{
  padding-top: 40px;
  font-size: 16px;
  font-family: 'Be Vietnam Pro', sans-serif;
}
.desktop{
  display: none;
}
button{
  outline: none;
  background-color: var(--violeta);
  border: none;
  border-radius: 50px;
  color: var(--blanco);
}

/* header */
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}
.hamburguesa{
  cursor: pointer;
  width: 35px;
  height: 31px;
}

/* home */
.home{
  margin: 40px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.home img{
  width: 100%;
}
.frase-home{
  text-align: right;
}
.frase-home h1{
  font-size: 50px;
  color: var(--azul-muy-oscuro);
  font-weight: 700;
  line-height: 57.3px;
  letter-spacing: -3.5%;
}
.frase-home button{
  font-size: 13.2px;
  font-weight: 500;
  padding: 15px 40px;
}
/* resumen */
/* productos */
/* testimonios */
/* teams */
/* footer */